# RDS / MySQL
DB_ENDPOINT=devops-parcial02-db.cv6q9yg7ppor.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=devops_parcial02
DB_USERNAME=admin
DB_PASSWORD=your_password_here

# Frontend local, usualmente vacío porque Nginx actúa como proxy
VITE_API_DESPACHOS_URL=
VITE_API_VENTAS_URL=

# Nginx proxy local
BACKEND_DESPACHOS_URL=http://localhost:8081
BACKEND_VENTAS_URL=http://localhost:8082